@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:  hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
}

main{
  margin: 1.5em 1em;
}

.profile{
  height: 170px;
  width: 100%;
  background: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.header{
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background:  hsl(236, 100%, 87%);
  display: flex;
  align-items: center;
  padding: 25px;
}

.jr{
  height: 43px;
  width: 43px;
  border: 2px solid white;
  border-radius: 50px;
}

h1{
  font-weight: 200;
  color: white;
  margin-left: 20px;
}

.dwm{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

button{
  border: none;
  color: hsl(235, 45%, 61%);
  background: hsl(235, 46%, 20%);
  font-size: 16px;
}
