@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:  hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
}

main{
  margin: 1.5em 1em;
}

.profile{
  height: 170px;
  width: 100%;
  background: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.header{
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background: skyblue;
  /* background:  hsl(235, 45%, 61%); */
  display: flex;
  align-items: center;
  padding: 25px;
}

.jr{
  height: 43px;
  width: 43px;
  border: 2px solid white;
  border-radius: 50px;
}

h1{
  font-weight: 200;
  color: white;
  margin-left: 20px;
}

.dwm{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

button{
  border: none;
  color: hsl(235, 45%, 61%);
  background: hsl(235, 46%, 20%);
  font-size: 16px;
}

button:hover{
  color: white;
}

.daily-schedule{
  width: 100%;
  display: none;
}

.box{
  height: 140px;
  width: 100%;
  border-radius: 10px;
  margin-top: 1em;
  position: relative;
}

.work{
  background: hsl(15, 100%, 70%);
}

.play{
  background: hsl(195, 74%, 62%);
}

.study{
  background: hsl(348, 100%, 68%);
}

.exercise{
  background: hsl(145, 58%, 55%);
}

.social{
  background: hsl(264, 64%, 52%);
}

.self{
  background: hsl(43, 84%, 65%);
}

.details{
  position: absolute;
  height: 100px;
  width: 100%;
  background: hsl(235, 46%, 20%);
  bottom: 0;
  overflow: hidden;
  border-radius: 10px;
  color: white;
  padding: 25px;
}

.icon{
  margin-top: 0px;
  right: 0;
  position: absolute;
}

h2{
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.dl{
  display: flex;
  justify-content: space-between;
}

.details img{
  height: 5px;
  width: 20px;
}

.dl-nmb{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.dl-nmb p{
  margin-top: 10px;
}

.weekly-schedule{
  display: none;
  /* margin-top: 5em; */
}

.monthly-schedule{
  display: none;
  /* margin-top: 5em; */
}
